<!--The content below is only a placeholder and can be replaced.-->
<div class='title' [@visible]="titleIsVisible">SENTIMENT</div>

<span *ngIf="!authed" class="password" [@visible]="passwordIsVisible">
  <input (keyup.enter)="authenticate(password)" [(ngModel)]="password" type="password" />
</span>

<span *ngIf="authed">
  <app-notes [user]="authedUser"></app-notes>
</span>

<div class='footer' [@visible]="footerIsVisible">
  <p>© <a href="https://github.com/connorbarkr">Connor Barker</a> 2018. Made with love.</p>
</div>