@import 'src/styles.sass'

a
  color: $text-color
  text-decoration: none
  transition: ease .3s

  &:hover
    color: $text-highlight

.appnote
  opacity: 0

.password
  opacity: 0

input
  border: none
  border-bottom: 1px solid #C1C1C1
  min-width: 300px
  width: 15%
  color: $text-dark
  background-color: $background
  padding: 5px 5px
  position: fixed
  top: 50%
  left: 50%
  margin-right: -50%
  transform: translate(-50%, -50%)
  transition: border-bottom .3s
  opacity: 0

  &:hover, &:focus
    outline: none
    border-bottom: 2px solid $text-dark

.title
  width: 100%
  text-align: center
  color: $text-color
  font-weight: 300
  font-size: 60px
  padding-top: 20px
  transition: ease .3s
  opacity: 0
  user-select: none

  &:hover
    color: $text-highlight

.footer
  position: fixed
  color: $text-color
  width: 100%
  text-align: center
  padding-bottom: 10px
  bottom: 0
  opacity: 0

  p
    margin: 0
    text-align: center
    font-weight: 300
