<!--The content below is only a placeholder and can be replaced.-->
<div class='title' [@visible]="titleIsVisible">SENTIMENT</div>

<ng-container *ngIf="!authed">
  <input class="password" [@visible]="passwordIsVisible" (keyup.enter)="authenticate(password)" [(ngModel)]="password" type="password" />
</ng-container>

<ng-container *ngIf="authed">
  <app-notes [user]="authedUser"></app-notes>
</ng-container>

<div class='footer' [@visible]="footerIsVisible">
  <p>© <a href="https://github.com/connorbarkr">Connor Barker</a> 2018. Made with love.</p>
</div>